<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
	<welcome-file-list>
	  <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/applicationContext*.xml
		</param-value>
	</context-param>
	<!--Spring的ApplicationContext 载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 单点登录退出登录 -->
<!-- 	<listener> -->
<!-- 	    <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class> -->
<!-- 	</listener> -->

	<!-- Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 单点登录 -->
<!-- 	<filter> -->
<!-- 	  <filter-name>CAS Authentication Filter</filter-name> -->
<!-- 	  <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class> -->
<!-- 	  <init-param> -->
<!-- 	    <param-name>casServerLoginUrl</param-name> -->
<!-- 	    <param-value>https://192.168.1.122:8443/cas/login</param-value> -->
<!-- 	  </init-param> -->
<!-- 	  <init-param> -->
<!-- 	    <param-name>serverName</param-name> -->
<!-- 	    <param-value>http://192.168.1.122:9000/myWebApp</param-value> -->
<!-- 	  </init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>CAS Authentication Filter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
<!-- 	<filter> -->
<!-- 	  <filter-name>CAS Validation Filter</filter-name> -->
<!-- 	  <filter-class>org.jasig.cas.client.validation.Cas10TicketValidationFilter</filter-class> -->
<!-- 	  <init-param> -->
<!-- 	    <param-name>casServerUrlPrefix</param-name> -->
<!-- 	    <param-value>https://192.168.1.122:8443/cas</param-value> -->
<!-- 	  </init-param> -->
<!-- 	  <init-param> -->
<!-- 	    <param-name>serverName</param-name> -->
<!-- 	    <param-value>http://192.168.1.122:9000/myWebApp</param-value> -->
<!-- 	  </init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>CAS Validation Filter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
<!-- 	<filter> -->
<!-- 	  <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name> -->
<!-- 	  <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
<!-- 	<filter> -->
<!-- 	  <filter-name>CAS Assertion Thread Local Filter</filter-name> -->
<!-- 	  <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>CAS Assertion Thread Local Filter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
<!-- 	<filter> -->
<!-- 	   <filter-name>CAS Single Sign Out Filter</filter-name> -->
<!-- 	   <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class> -->
<!-- 	  <init-param> -->
<!-- 	    <param-name>casServerUrlPrefix</param-name> -->
<!-- 	    <param-value>https://192.168.1.122:8443/cas</param-value> -->
<!-- 	  </init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 	   <filter-name>CAS Single Sign Out Filter</filter-name> -->
<!-- 	   <url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

	<!-- MyFilter -->
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.hzth.myapp.web.MyFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- MyFilter2 -->
<!-- 	<filter> -->
<!-- 		<filter-name>MyFilter2</filter-name> -->
<!-- 		<filter-class>com.hzth.myapp.web.MyFilter2</filter-class> -->
<!-- 	</filter> -->
	
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>MyFilter2</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
	<!-- OpenSessionInViewFilter -->
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- struts-cleanup -->
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<!-- struts 2 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>requestAndResponseHolder</filter-name>
	    <filter-class>com.hzth.myapp.springmvc.filter.RequestAndResponseHolderFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>requestAndResponseHolder</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- websocket -->
<!--     <servlet> -->
<!--         <description>AtmosphereServlet</description> -->
<!--         <servlet-name>AtmosphereServlet</servlet-name> -->
<!--         <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class> -->
<!--         <async-supported>true</async-supported> -->
<!--         <load-on-startup>0</load-on-startup> -->
<!--     </servlet> -->
<!--     <servlet-mapping> -->
<!--         <servlet-name>AtmosphereServlet</servlet-name> -->
<!--         <url-pattern>/chat/*</url-pattern> -->
<!--     </servlet-mapping> -->
    
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>com.hzth.myapp.web.MyTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/appServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>downloadServlet</servlet-name>
		<servlet-class>com.hzth.myapp.web.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>downloadServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>downDoc</servlet-name>
		<servlet-class>com.hzth.myapp.web.DownloadDocServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>downDoc</servlet-name>
		<url-pattern>/downDoc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>swfUploadServlet</servlet-name>
		<servlet-class>com.hzth.myapp.file.SwfUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>swfUploadServlet</servlet-name>
		<url-pattern>/swfUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>uploadFileServlet</servlet-name>
		<servlet-class>com.hzth.myapp.web.UploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadFileServlet</servlet-name>
		<url-pattern>/uploadFileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cookieServlet</servlet-name>
		<servlet-class>com.hzth.myapp.web.CookieTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cookieServlet</servlet-name>
		<url-pattern>/cookieServlet</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>500</error-code>
		<location>/common/jsp/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/jsp/404.jsp</location>
	</error-page>
</web-app>
